*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(63, 62, 62);
    font-family: sans-serif;
}

.calculadora{  
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}

.calculadora h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
    text-align: center;
}

.btn{
    background-color: #282828;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 28px;
    margin: 3px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease;    
}

.btn-pressed {
    transform: scale(1.1);
}

.btn:hover{
    background-color: #444343;;
}

#resultado{
    background-color: #fff;
    font-size: 42px;
    margin: 10px auto;
    height: 60px;
    width: 255px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 10px;

}

@media (min-width: 320px){
  .calculadora{
    padding: 10px;
  }

  .calculadora h1{
    font-size: 24px;
  }

  #resultado{
    height: 40px;
    margin: 5px auto;
    font-size: 34px;
  }
}